<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.bountymission.mapper.UserMapper">


    <select id="schoolList" resultType="com.project.bountymission.pojo.entity.School">
        SELECT * FROM school
        <where>
            <if test="keyword != null and keyword != ''">
                AND school_name LIKE CONCAT('%', #{keyword}, '%')
            </if>
        </where>
    </select>
</mapper>